[D-BUS Service]
Name=kr.gooroom.bhpyGEmu
Exec=python3 /home/haru/dbus_project/python/applications/bh_py_gemu.py
User=root
SystemdService=bh_py_gemu.service
